%%% -*- mode: erlang -*-

%% Depends
{deps_dir, "../"}.
{deps, [{lager, ".*"}]}.

%% Erlang compiler options
{erl_opts, [debug_info, warnings_as_errors
            , {parse_transform, lager_transform}
            , {i, "../gmt_util/include/"}
            , {i, "../gdss_brick/include/"}
           ]}.

%% EUnit options
{eunit_opts, [verbose]}.
